<div class="create-group">
 <h2>Update your group information:</h2>   
    <div class="creategroup_container">
        <img id="picture-preview" src="{{group_picture}}" alt="group picture"/>
        <form action="" id="group-update-form">
            {{!-- <div class="basicinfo">
                <h3>User information:</h3>
                <input type="text" name="signupEmail" id="signupEmail" placeholder="signupEmail" required/> <br />
                <input type="password" name="signupPassword" id="signupPassword" placeholder="signupPassword" required/> <br /> 
                <input type="text" name="signupName" id="signupName" placeholder="signupName" required/>
            </div> --}}
            
            <div class="groupinfo">
                <h3>About your group:</h3>      
                <div class="picdiv">
                    <label for="GroupPic">Group' photo:</label> 
                    <a id="upload_widget" class="cloudinary-button">Upload a picture</a>
                    
                </div>
                <div class="group-title">    
                    <label>Group name: </label><input type="text" name="groupName" id="groupName" value="{{group_name}}" required /> 
                </div>
                <div class="group-award">
                    <label>How many stars do you want to collect to win an award as a group? </label>
                    <input type="text" name="groupStarNum" id="groupStarNum" value="{{group_star_goal_num}}" required onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;"/> 
                </div>
                <div class="group-goal">
                    <lable>What is the award? </lable><input type="text" name="groupAward" id="groupAward" value="{{group_goal_award}}" />
                </div>
            </div>
            <button type="submit" class="sbmbtn button-43">Update!</button>
        </form>
    </div>
</div>

<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  

<script type="text/javascript">  
var myWidget = cloudinary.createUploadWidget({
  cloudName: 'digyae86x', 
  uploadPreset: 'prjdz6ga'}, (error, result) => { 
    if (!error && result && result.event === "success") { 
      console.log('Done! Here is the image info: ', result.info); 
      console.log(result.info.secure_url)
      const previewImg = document.querySelector("#picture-preview");
      previewImg.setAttribute('style',"display:block")
      previewImg.setAttribute('src', result.info.secure_url);
    }
  }
)

document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
  }, false);
</script>

<script src="/js/groupUpdate.js"></script>