<h2>Home page</h2>
{{!-- <h3>This page will show other family's profile thumbnails</h3> --}}

<div class="homeScreen-container">
  <img src="/images/background.jpg" alt="Norway" style="width:100%;">
  <div class="text-block">
    <h1 style="font-size: x-large">Welcome to</h1>
    <div class="text-center">
    <h3 class="animate-charcter"> Star Kids</h3>
    </div>
  </div>
</div>

{{!--  --}}
