<div class="homeScreen-container">
  <img src="/images/background.jpg" alt="Welcome to StarKids" style="width:100%;">
  <div class="text-block-outer">
    <div class="text-block">
      <p>Welcome to</p>
      <div class="text-center">
      <h3 class="animate-charcter"> Star Kids</h3>
      </div>
    </div>
  </div>
</div>

{{!--  --}}
