<h2>Star Kids!</h2>
<div class="kids-container">

    <!-- for each kid -->
    <div class="kid-card">
        <h3>Vincent</h3>
        <span class="kid-pic"><img src="../assets/pic_v.jpg" /></span>
        <ul class="task">
            <li>Chores  <img src="https://morisky78.github.io/Portfolio/assets/images/temp/star_pink.png" class="star-sticker" /><strong>8</strong> </li>
            <li>Homework <img src="https://morisky78.github.io/Portfolio/assets/images/temp/star_yellow.png" class="star-sticker" /><strong>12</strong> </li>
            <li>Eat healthy food <img src="https://morisky78.github.io/Portfolio/assets/images/temp/star_green.png" class="star-sticker" /><strong>4</strong> </li>
            <li>Care for pets <img src="https://morisky78.github.io/Portfolio/assets/images/temp/star_purple.png" class="star-sticker" /><strong>13</strong> </li>
        </ul>
        <a href="##"><button>View Details</button></a>
    </div>
    <!-- for each kid -->

</div>

<h2>Create a star kid!</h2>
<div class="create-kid">
    <form id="createKid">
        <div>
            <label for="kidName">Name:</label>
            <input type="text" id="kidName" />
        </div>
        <div>
            <label for="kidPic">Select a file:</label>
            <input type="file" id="kidPic" name="kidPic">
        </div>
        <div>
            <label for="kidGoal">Goal Star:</label>
            <input type="input" id="kidGoalStar" name="kidGoalStar" />
        </div>
        <div>
            <label for="kidAward">Award:</label>
            <input type="input" id="kidAward" name="kidAward" />
        </div>
        <button>Create!</button>
    </form>
</div>

<script src="/js/kidProfile.js"></script>
