<h2>Login</h2>
<form action="" id="login">
    <input type="text" name="loginEmail" id="loginEmail" placeholder="loginEmail">
    <input type="password" name="loginPassword" id="loginPassword" placeholder="loginPassword">
    <button>Login</button>
</form>
<br /><br /><br />
<h2>Signup</h2>
<form action="" id="signup">
    <div class="basicinfo">
        <input type="text" name="signupEmail" id="signupEmail" placeholder="signupEmail">
        <input type="password" name="signupPassword" id="signupPassword" placeholder="signupPassword"> 
        <input type="text" name="signupName" id="signupName" placeholder="signupName">
    </div>
    
    <div class="groupinfo">
        <h3>Tell me about your group</h3>
        
        <label>What do you want to call your group? </label><input type="text" name="groupName" id="groupName" /> <br />
        <label>How many stars do you want to collect to win an award as a group? </label><input type="text" name="groupStarNum" id="groupStarNum" /> <br />
        <lable>What is the award? </lable><input type="text" name="groupAward" id="groupAward" placeholder="We will ..." />
        
    </div>
<button>Signup</button>
</form>

<script src="/js/login.js"></script>