<h2>Login</h2>
<form action="" id="login">
    <input type="text" name="loginEmail" id="loginEmail" placeholder="loginEmail">
    <input type="password" name="loginPassword" id="loginPassword" placeholder="loginPassword">
    <button>Login</button>
</form>
<br /><br />
<h2>Signup</h2>
<form action="" id="signup">
 
    <input type="text" name="signupEmail" id="signupEmail" placeholder="signupEmail">
    <input type="password" name="signupPassword" id="signupPassword" placeholder="signupPassword"> 
    <input type="text" name="signupName" id="signupName" placeholder="signupName">
    
    <div>
        <h3>Tell me about your group</h3>
        <label>Group Name:</label><input type="text" name="groupName" id="groupName" /> <br />
        <label>Goal Stars:</label><input type="text" name="groupStarNum" id="groupStarNum" /> <br />
        <lable>Goal Award:</lable><input type="text" name="groupAward" id="groupAward" />
        
    </div>
<button>Signup</button>
</form>

<script src="/js/login.js"></script>