<h2>Our Tasks : </h2>
<ul> 
    <!-- for each stored task-->  
    <li>This is one task for our group  <button class="delBtn" data-projId="{{taskid}}">Delete Me</button></li>
</ul>

<h2>Create a Task</h2>

<form action="" id="signup">
    <input type="text" name="addTask" id="addTask" placeholder="Add a Task">
    <button>Submit</button>
</form>

<script src="/js/task.js"></script>